@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(2vh);
    }
    80% {
        opacity: .2;
        transform: translateY(-2vh);
    }
    100% {
        opacity: .95;
        transform: translate(0);
    }
};
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }
    80% {
        opacity: .2;
        transform: translate(.25vw);
    }
    100% {
        opacity: .95;
        transform: translate(0);
    }
};