@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(2vh);
  }
  80% {
    opacity: 0.2;
    transform: translateY(-2vh);
  }
  100% {
    opacity: 0.95;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }
  80% {
    opacity: 0.2;
    transform: translate(5vw);
  }
  100% {
    opacity: 0.95;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  80% {
    opacity: 0.2;
    transform: translate(-5vw);
  }
  100% {
    opacity: 0.95;
    transform: translate(0);
  }
}
@keyframes shake-horizontal {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-8px);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(8px);
  }
  70% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(6.4px);
  }
  90% {
    transform: translateX(-6.4px);
  }
  100% {
    transform: translateX(0);
  }
}
body, html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.hero {
  height: 100vh;
  overflow: hidden;
  margin-top: -0.1%;
  width: 100vw;
}
.hero #myVideo {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero .content {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(transparent, #150907 99.9%);
}
.hero ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 4vw;
  width: max-content;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}
.hero--name__li {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
}
.hero--name__li:first-child {
  margin: 12vh 0 0 0;
}
.hero--name__li--christopher {
  animation-name: moveInRight;
  animation-duration: 1s;
}
.hero--name__li--anthony {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
}
.hero--name__li--castanuela {
  animation-name: moveInRight;
  animation-duration: 2.2s;
}

.projects {
  background-color: #150907;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  margin-top: -0.1%;
}
.projects--title__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.projects--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
  margin-top: 2%;
}
.projects .project {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
}
.projects .project:last-child {
  margin-bottom: 0;
}
.projects .project--repo__div {
  margin: 0 3%;
}
.projects .project--repo__div a {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}
.projects .project--school-registration {
  float: right;
}
.projects .project--fitlit {
  float: left;
}
.projects .project--title__div {
  display: flex;
  align-items: center;
}
.projects .project--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #150907;
}
.projects .project--gif__img {
  width: 100%;
  margin: 5% 0 0 0;
}
.projects .project--techs__div {
  margin: 0 3%;
}
.projects .project--techs__h2 {
  margin-top: 10%;
  font-family: "Lato", sans-serif;
  font-size: 400%;
  font-weight: 550;
  color: #150907;
}
.projects .project--techs__p {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}
.projects .project--paragraph__div {
  margin: 0 3%;
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}

.skills {
  background-color: #150907;
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: auto;
  margin-top: -0.1%;
}
.skills--title__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.skills--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
  margin-top: 2%;
}

.skill-section {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
}
.skill-section:last-child {
  margin-bottom: 0;
}
.skill-section--current {
  float: right;
}
.skill-section--learning {
  float: left;
}
.skill-section--title__div {
  display: flex;
  align-items: center;
}
.skill-section--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #150907;
}
.skill-section--skills__div {
  margin: 0 3%;
}
.skill-section--skills__h2 {
  font-family: "Lato", sans-serif;
  font-size: 400%;
  font-weight: 550;
  color: #150907;
}

.pubs {
  background-color: #150907;
  min-height: 50vh;
  min-width: 100vw;
  overflow-y: auto;
  margin-top: -0.1%;
}
.pubs--title__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.pubs--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
  margin-top: 2%;
}
.pubs--current {
  float: left;
}

.pub {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
  float: right;
}
.pub:last-child {
  margin-bottom: 0;
}
.pub--title__div {
  display: flex;
  align-items: center;
}
.pub--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #150907;
}
.pub--link__div {
  margin: 0 3%;
}
.pub--link__div a {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}
.pub--details__div {
  margin: 0 3%;
}
.pub--details__h2 {
  font-family: "Lato", sans-serif;
  font-size: 400%;
  font-weight: 550;
  color: #150907;
}
.pub--paragraph__div {
  margin: 0 3%;
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}
.pub--gif__img {
  width: 100%;
  margin: 10% 0;
}

.education {
  background-color: #150907;
  min-height: 50vh;
  min-width: 100vw;
  overflow-y: auto;
  margin-top: -0.1%;
}
.education--title__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.education--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
  margin-top: 2%;
}

.edu {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
}
.edu:last-child {
  margin-bottom: 0;
}
.edu--title__div {
  display: flex;
  align-items: center;
}
.edu--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #150907;
}
.edu--details__div {
  margin: 0 3%;
}
.edu--details__h2 {
  font-family: "Lato", sans-serif;
  font-size: 400%;
  font-weight: 550;
  color: #150907;
}
.edu--paragraph__div {
  margin: 0 3%;
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}

.courses {
  background-color: #150907;
  min-height: 50vh;
  min-width: 100vw;
  overflow-y: auto;
  padding-bottom: 20%;
  margin-top: -0.1%;
}
.courses--title__div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.courses--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #f2f2f2;
  margin-top: 2%;
}

.course {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
  float: right;
}
.course:last-child {
  margin-bottom: 0;
}
.course--title__div {
  display: flex;
  align-items: center;
}
.course--title__h1 {
  font-family: "Lato", sans-serif;
  font-size: 650%;
  font-weight: 550;
  color: #f2f2f2;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 1.5px #150907;
}
.course--details__div {
  margin: 0 3%;
}
.course--details__h2 {
  font-family: "Lato", sans-serif;
  font-size: 400%;
  font-weight: 550;
  color: #150907;
}
.course--paragraph__div {
  margin: 0 3%;
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}

.footer {
  background-color: #150907;
  min-height: 10vh;
  min-width: 100vw;
  overflow-y: auto;
  margin-top: -0.1%;
}
.footer-content {
  background-color: #f2f2f2;
  width: 80%;
  margin-bottom: 10%;
  overflow: auto;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.footer-content:last-child {
  margin-bottom: 0;
}

.email--div {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}

.links--div {
  font-family: "Lato", sans-serif;
  font-size: 300%;
  font-weight: 550;
  color: #150907;
}

@media only screen and (min-width: 540px) {
  .project, .skill-section, .pub, .edu, .course {
    width: 45% !important;
  }
  .project--school-registration {
    float: left !important;
  }
  .project--fitlit {
    float: right !important;
  }
  .skill-section--current {
    float: left !important;
  }
  .skill-section--learning {
    float: right !important;
  }
  .pubs, .education, .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
