@import './anim.scss';
//font-family: 'Herr Von Muellerhoff', cursive;
//font-family: 'Lato', sans-serif;

$white: #f2f2f2;

body, html {
    font-size: 62.5%;
    margin:0; 
    padding: 0;
}

.menu {
    visibility: hidden;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #333333;
    margin-top: 20vh;
    background-color: $white;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    ul {
        list-style-type: none;
        padding: 0;
    }
    &--option {
        // text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-size: 500%;
        font-weight: 550;
        color: #333333;
        height: max-content;
        cursor: pointer;
        // margin: 2vh 0 2vh 0;
    }
}

.header {
    min-height: 10vh;
    min-width: 100vw;
    background-color: #333333;
    border-bottom: $white .1px solid;
    position: fixed;
    .header-name {
        font-family: 'Herr Von Muellerhoff', cursive;
        color: $white;
        font-size: 500%;
        margin-top: -10%;
        margin-bottom: 0;
        margin-left: 5vw;
        margin-top: 2vh;
        max-width: max-content;
        display: inline-block;
        cursor: pointer;
        
        animation-name: moveInRight;
        animation-duration: .7s;
    }
    .home__nav--button-x {
        height: 5vh;
        width: 11%;
        cursor: pointer;
        border-radius: 15%;
        position: relative;
        z-index: 3;
        float: right;
        right: 4%;
        margin-top: 2.5vh;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: moveInRight;
        animation-duration: .7s;
    }
    .home__nav--button-x div {
        width: 75%;
        height: 100%;
        margin: 0;
        position: absolute;
    }
    .home__nav--button-x span {
        background: #333333;
        width: 100%;
        height: 2px;
        border-radius: 100px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s, width 0.5s;
    }
    .home__nav--button-x .line-1 {
        width: 50%;
        transform: translate(-100%, -10px);
    }
    .home__nav--button-x .line-3 {
        left: auto;
        right: 0;
        width: 50%;
        transform: translate(0, 7px);
    }
    .home__nav--button-x-open .line-1 {
        transform: translate(0, 0) rotate(-47deg);
        transform-origin: 0 0;
    }
    .home__nav--button-x-open .line-3 {
        transform: translate(-95%, 0) rotate(-45deg);
        transform-origin: 100% 0;
    }
    .home__nav--button-x-open .line-2 {
        transform: translate(-45%, -45%) rotate(45deg);
    }
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.home {
    min-height: 80vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, #808080, #333333);
}

.hero {
    min-height: 60vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, #808080, #333333);
    display: grid;
    grid-template-rows: 1fr 1fr;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 4vw;
        width: max-content;

        grid-row: 1;
        align-self: center;
        justify-self: center;
    }
    &--name__li {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        margin: 0;
        font-size: 600%;
        font-weight: 550;
        color: #333333;
        height: max-content;
        cursor: pointer;

        color: transparent;
        -webkit-text-stroke: 1px $white;

        // margin: 2vh 0 2vh 0;
    }
    &--name__li:first-child {
        margin: 12vh 0 0 0;
    }
    &--name__li--christopher {
        animation-name: moveInRight;
        animation-duration: 1.4s;
    }
    &--name__li--anthony {
        animation-name: moveInLeft;
        animation-duration: 2s;
    }
    &--name__li--castanuela {
        animation-name: moveInRight;
        animation-duration: 2.6s;
    }
}

.projects_cta {
    min-height: 20vh;
    min-width: 100vw;
    background-color: $white;
    border-top: #333333 2px solid;
    border-bottom: #333333 2px solid;
}

.experience {
    min-height: 80vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, #808080, #333333);
}

.review {
    min-height: 20vh;
    min-width: 100vw;
    background-color: $white;
    border-top: #333333 2px solid;
    border-bottom: #333333 2px solid;
}

.contact {
    min-height: 60vh;
    min-width: 100vw;
    background-image: linear-gradient(to right, #808080, #333333);
}

.footer {
    min-height: 60vh;
    min-width: 100vw;
    background-color: #333333;
    border-top: $white .1px solid;
}

@media only screen and (max-width: 600px) {
    //
}

@media only screen and (max-width: 768px) {
    //
}

@media only screen and (max-width: 992px) {
    //
}

@media only screen and (max-width: 1200px) {
    //
}